.sidenavcontent-container{
    display: grid;
    grid-template: "stockprice topstock" 1fr/1fr 1fr;
    padding: 5%;
}

.stockprice{
    grid-area: stockprice;
}
.topstock{
    grid-area: topstock;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}